Package: ossec-hids-local
Version: 2.7.1-debian
Architecture: amd64
Maintainer: Nicolas Zin <nicolas.zin@savoirfairelinux.com>
Installed-Size: 6472
Pre-Depends: debconf (>= 0.2.17) | debconf-2.0
Conflicts: ossec-hids-agent, ossec-hids-server
Section: admin
Priority: extra
Homepage: http://www.savoirfairelinux.com
Description: Open Source Security, Host-Based Intrusion Detection System
 It performs log analysis, integrity checking, Windows registry monitoring,
 rootkit detection, real-time alerting and active response.
 This is the standaalone (local server) version.
